* { box-sizing: border-box; }

body { font-family: sans-serif; }

:root {
  --animationTime: 3s;
  --OuterCubeDefaultY: -100px;
}

.lineCenter {
  width: 100%;
  margin: 0 auto;
}

.mainFrame {
  height: 1000px;
  margin: auto;
  font-size: 30px;
  background-image: url('../pic/seattle1.jpg');
  text-align: center;
}

.scene {
  width: 300px;
  height: 1000px;
  margin: auto;
  perspective: 1000px;
}

.cube {
  position: absolute;
  z-index: 10;
  width: 400px;
  height: 400px;
  transform-style: preserve-3d;
  animation: rotateAnimation var(--animationTime) infinite linear;
}

.cube_face {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid black;
}

.cube_faceOuter {
  position: absolute;
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

.cube_faceOuterHide {
  position: absolute;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  opacity: 0.0;
}

.cube_faceFront  { transform: translateX(100px) rotateY(  0deg) translateZ(100px); background-repeat: no-repeat; background-size: cover; background-position: center }
.cube_faceRight  { transform: translateX(100px) rotateY( 90deg) translateZ(100px); background-repeat: no-repeat; background-size: cover; background-position: center }
.cube_faceBack   { transform: translateX(100px) rotateY(180deg) translateZ(100px); background-repeat: no-repeat; background-size: cover; background-position: center }
.cube_faceLeft   { transform: translateX(100px) rotateY(-90deg) translateZ(100px); background-repeat: no-repeat; background-size: cover; background-position: center }
.cube_faceTop    { transform: translateX(100px) rotateX( 90deg) translateZ(100px); background-repeat: no-repeat; background-size: cover; background-position: center }
.cube_faceBottom { transform: translateX(100px) rotateX(-90deg) translateZ(100px); background-repeat: no-repeat; background-size: cover; background-position: center }

.cube_faceFrontOuter  { background-image: url("../pic/seattle1.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center;
                        animation: faceAnimationFrontOuter var(--animationTime) infinite linear; }
.cube_faceRightOuter  { background-image: url("../pic/seattle1.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center;
                        animation: faceAnimationRightOuter var(--animationTime) infinite linear; }
.cube_faceBackOuter   { background-image: url("../pic/seattle1.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center;
                        animation: faceAnimationBackOuter var(--animationTime) infinite linear; }
.cube_faceLeftOuter   { background-image: url("../pic/seattle1.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center;
                        animation: faceAnimationLeftOuter var(--animationTime) infinite linear; }
.cube_faceTopOuter    { background-image: url("../pic/seattle1.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center;
                        animation: faceAnimationTopOuter var(--animationTime) infinite linear; }
.cube_faceBottomOuter { background-image: url("../pic/seattle1.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center;
                        animation: faceAnimationBottomOuter var(--animationTime) infinite linear; }
                        
.cube_faceFrontOuter2  { background-image: url("../pic/seattle1.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center;
                        animation: faceAnimationFrontOuter var(--animationTime) infinite linear; }
.cube_faceRightOuter2  { background-image: url("../pic/seattle1.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center;
                        animation: faceAnimationRightOuter var(--animationTime) infinite linear; }
.cube_faceBackOuter2   { background-image: url("../pic/seattle1.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center;
                        animation: faceAnimationBackOuter var(--animationTime) infinite linear; }
.cube_faceLeftOuter2   { background-image: url("../pic/seattle1.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center;
                        animation: faceAnimationLeftOuter var(--animationTime) infinite linear; }
.cube_faceTopOuter2    { background-image: url("../pic/seattle1.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center;
                        animation: faceAnimationTopOuter var(--animationTime) infinite linear; }
.cube_faceBottomOuter2 { background-image: url("../pic/seattle1.jpg"); background-repeat: no-repeat; background-size: cover; background-position: center;
                        animation: faceAnimationBottomOuter var(--animationTime) infinite linear; }

label { margin-right: 10px; }

@keyframes rotateAnimation {
  0%   {transform: translateY(350px) rotateY(0deg);}
  25%  {transform: translateY(350px) rotateY(90deg);}
  50%  {transform: translateY(350px) rotateY(180deg);}
  75%  {transform: translateY(350px) rotateY(270deg);}
  100% {transform: translateY(350px) rotateY(360deg);}
}

@keyframes rotateAnimationOuter {
  0%   {transform: translate3d(-100px, 0, 0) rotateY(0deg);}
  25%  {transform: translate3d(-100px, 0, 0) rotateY(90deg);}
  50%  {transform: translate3d(-100px, 0, 0) rotateY(180deg);}
  75%  {transform: translate3d(-100px, 0, 0) rotateY(270deg);}
  100% {transform: translate3d(-100px, 0, 0) rotateY(360deg);}
}

@keyframes faceAnimationFrontOuter {
  0%   {transform: rotateY(  0deg) translateY(var(--OuterCubeDefaultY)) translateZ(200px);}
  5%   {transform: rotateY(  0deg) translateY(var(--OuterCubeDefaultY)) translateZ(400px);}
  75%  {transform: rotateY(  0deg) translateY(var(--OuterCubeDefaultY)) translateZ(400px);}
  80%  {transform: rotateY(  0deg) translateY(var(--OuterCubeDefaultY)) translateZ(200px);}
  100% {transform: rotateY(  0deg) translateY(var(--OuterCubeDefaultY)) translateZ(200px);}
}

@keyframes faceAnimationRightOuter {
  0%   {transform: rotateY(  90deg) translateY(var(--OuterCubeDefaultY)) translateZ(200px);}
  5%   {transform: rotateY(  90deg) translateY(var(--OuterCubeDefaultY)) translateZ(400px);}
  75%  {transform: rotateY(  90deg) translateY(var(--OuterCubeDefaultY)) translateZ(400px);}
  80%  {transform: rotateY(  90deg) translateY(var(--OuterCubeDefaultY)) translateZ(200px);}
  100% {transform: rotateY(  90deg) translateY(var(--OuterCubeDefaultY)) translateZ(200px);}
}

@keyframes faceAnimationBackOuter {
  0%   {transform: rotateY(  180deg) translateY(var(--OuterCubeDefaultY)) translateZ(200px);}
  5%   {transform: rotateY(  180deg) translateY(var(--OuterCubeDefaultY)) translateZ(400px);}
  75%  {transform: rotateY(  180deg) translateY(var(--OuterCubeDefaultY)) translateZ(400px);}
  80%  {transform: rotateY(  180deg) translateY(var(--OuterCubeDefaultY)) translateZ(200px);}
  100% {transform: rotateY(  180deg) translateY(var(--OuterCubeDefaultY)) translateZ(200px);}
}

@keyframes faceAnimationLeftOuter {
  0%   {transform: rotateY(  -90deg) translateY(var(--OuterCubeDefaultY)) translateZ(200px);}
  5%   {transform: rotateY(  -90deg) translateY(var(--OuterCubeDefaultY)) translateZ(400px);}
  75%  {transform: rotateY(  -90deg) translateY(var(--OuterCubeDefaultY)) translateZ(400px);}
  80%  {transform: rotateY(  -90deg) translateY(var(--OuterCubeDefaultY)) translateZ(200px);}
  100% {transform: rotateY(  -90deg) translateY(var(--OuterCubeDefaultY)) translateZ(200px);}
}

@keyframes faceAnimationTopOuter {
  0%   {transform: translateY(var(--OuterCubeDefaultY)) rotateX(  90deg) translateZ(200px);}
  5%   {transform: translateY(var(--OuterCubeDefaultY)) rotateX(  90deg) translateZ(400px);}
  75%  {transform: translateY(var(--OuterCubeDefaultY)) rotateX(  90deg) translateZ(400px);}
  80%  {transform: translateY(var(--OuterCubeDefaultY)) rotateX(  90deg) translateZ(200px);}
  100% {transform: translateY(var(--OuterCubeDefaultY)) rotateX(  90deg) translateZ(200px);}
}

@keyframes faceAnimationBottomOuter {
  0%   {transform: translateY(var(--OuterCubeDefaultY)) rotateX(  -90deg) translateZ(200px);}
  5%   {transform: translateY(var(--OuterCubeDefaultY)) rotateX(  -90deg) translateZ(400px);}
  75%  {transform: translateY(var(--OuterCubeDefaultY)) rotateX(  -90deg) translateZ(400px);}
  80%  {transform: translateY(var(--OuterCubeDefaultY)) rotateX(  -90deg) translateZ(200px);}
  100% {transform: translateY(var(--OuterCubeDefaultY)) rotateX(  -90deg) translateZ(200px);}
}
